* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 36px 0 42px;
}

.link-header {
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.875px;
    cursor: pointer;
    margin-right: 32px;
}

.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.logo-img {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 0px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    letter-spacing: 0.596px;
    width: 582px;
    margin-left: 96.83px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 493px;
    height: 99px;
    margin-left: 96.83px;
    margin-top: 47px;
}

.button-learn-more {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 96.83px;
    border: none;
    background: transparent;
}

@media (max-width: 900px) {
    header {
        margin-left: 0;
    }

    .link-header {
        display: none;
        margin-top: 17px;
    }

    .button-header {
        display: inline;
        margin-left: 284px;
        margin-top: 0;
        width: 91px;
        height: 31px;
    }

    h1 {
        width: 278px;
        color: #161A49;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.6px;
        margin-top: 83px;
        margin-left: 57px;
        position: absolute;
    }

    p {
        width: 304px;
        color: #4B505A;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin-top: 162px;
        margin-left: 43px;
        position: absolute;
    }

    .button-learn-more {
        margin-top: 404px;
        width: 113px;
        margin-top: 360px;
        text-align: center;
        margin-left: 139px;
    }

    .logo-img {
        margin: 0;
        position: absolute;
        margin-left: 39px;
        bottom: 23px;
        width: 305px;
        height: 280px;
    }


}